doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title vue-currency calculator

    style.
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 16px;
      }

      section {
        width: 80%;
        background-color: #fff;

        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      section:first-of-type {
        margin-bottom: 4em;
      }

      header {
        background-color: #eee;
        padding: 2em;
      }

      h1 {
        font-size: 2em;
      }

      header > p {
        font-size: 1.2em;
      }

      section > div {
        padding: 2em;
      }

      label {
        width: 10em;
        display: block;
        margin-bottom: 0.2em;
        font-size: 1em;
      }

      .input-group {
        display: flex;

      }

      input:not([type=checkbox]), select {
        padding: 0 1em;
        font-size: 1em;
        border: 1px solid #ddd;
        outline: none;
        height: 2em;
      }

      input ~ span {
        background-color: #eee;
        border: 1px solid #ddd;
        border-left: 0px;
        padding: 0 1em;
        min-width: 2em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }

      .mb {
        margin-bottom: 1em;
      }


  body

    section#currency-one
      header
        h1 EUR - USD calculator

      .row(v-if='loaded')

        currency-input(symbol='$', :value='dollar', :rate='dollarRate', @calculate='calculateEuro')

        currency-input(symbol='€', :value='euro', :rate='euroRate', @calculate='calculateDollar')

      div(v-else)
        p Loading exchange rates


    section#currency-two
      header
        h1 EUR - WHATEVER calculator

      .column

        cinput(:currency='toggled ? "EUR" : selectedCurrency', :value='from', @calculate='calculate')

        cdropdown(:rates='currencies', :toggled='toggled ? "EUR" : selectedCurrency' @change='changeCurrency')

        cinput(:currency='toggled ?  selectedCurrency : "EUR"', :value='to', :disabled='true')

        .input-group
          input(type='checkbox', v-model='toggled', @change='toggle')
          small EUR - {{ selectedCurrency }}

        small Exchangerate for {{ toggled ? 'EUR - ' + selectedCurrency : selectedCurrency + ' - EUR' }}: {{ rate }}

    script(src='js/vue.js')
    script(src='js/app.js')